/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Languages
============================================ */
@font-face {
  font-family: 'cwTeXFangSong';
  src: url('fonts/cwTeXFangSong-zhonly.eot'); /* IE9 Compat Modes */
  src: url('fonts/cwTeXFangSong-zhonly?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cwTeXFangSong-zhonly.woff') format('woff'), /* Modern Browsers */
       url('fonts/cwTeXFangSong-zhonly.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/cwTeXFangSong-zhonly.svg#cwTeXFangSong') format('svg'); /* Legacy iOS */
}

.english {
  font-family: 'Vollkorn', serif;
}

.chinese {
  font-family: 'cwTeXFangSong', serif;
}

/* Footer
============================================ */
.footer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin-top: 33vh; /* Must be greater than or equal to half of story's height */
  width: 60vw;  /* Same as story's width. */

  font-size: 17px;
  text-align: center;
  /* Uncomment for debugging. */
  /*background: green;*/
}

.footer .author {
  margin-top: 3vh;
  font-size: 14px;
}

.footer img {
  height: 4vh;
  width: auto;
  padding-right: 5px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: #CCB162;
}
