/* Main
============================================ */
body {
  background-color: black;
  color: white;
  font-size: 24px;
}

.story {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%,-20%);
  width: 60vw;
  height: 60vh;
  /* Uncomment for debugging. */
  /*background: blue;*/
}

.full-size {
  width: 100%;
  height: auto;
}

/* Prompt Table
============================================ */
.prompt {
  padding-top: 15%;
  width: 100%;
  height: 40%;
}

.table {
  display: table;
  width: 100%;
  height: 100%;

  text-align: center;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  width: 50%;

  vertical-align: middle;
  /* Uncomment for debugging. */
  /*border:5px solid white;*/
}

.button {
  /*cursor: hand;*/
  cursor: pointer;
}
.button:hover {
  color: gray;
}
.button:active {
  font-weight: bold;
  font-size: 30px;
}

.background-video {
  position: absolute;
  z-index: -1;
}
